@import url("https://fonts.googleapis.com/css2?family=Marck+Script&family=Poppins:wght@400;600&display=swap");
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
section,
.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #040402;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    color: whitesmoke;
}

body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body::-webkit-scrollbar {
    width: .5em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #040402;
    box-shadow: inset 0 0 6px #040402;
}

body::-webkit-scrollbar-thumb {
    background-color: #FFF748;
    outline: 1px solid #FFF748;
    border-radius: 5%;
    border: none;
}

.underline-right {
    display: inline-block;
    position: relative;
    color: #FFF748;
}

.underline-right:after {
    content: '';
    position: absolute;
    width: 100%;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFF748;
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
    -webkit-transition: -webkit-transform 0.25s ease-out;
    transition: -webkit-transform 0.25s ease-out;
    transition: transform 0.25s ease-out;
    transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.underline-right:hover:after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
}

.wrapper {
    width: 100vw;
    height: 90vh;
    overflow-y: scroll;
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory;
}

section {
    scroll-snap-align: start;
    overflow-y: hidden;
    width: 70%;
    height: 90vh;
    margin: 0 auto 0 auto;
}

.header {
    width: 70%;
    margin: 0 auto;
    height: 10vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    overflow-x: hidden;
    font-size: 1.8rem;
}

.header .header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header .header-content #logo {
    font-family: "Marck Script", sans-serif;
    font-size: 4rem;
}

.header .header-content .navigation ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header .header-content .navigation ul li a {
    color: whitesmoke;
    text-decoration: none;
    padding: 0 2rem;
}

.landing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.landing .left-landing-box {
    width: 60%;
    color: #fbf000;
}

.landing .left-landing-box .buttons {
    margin-top: 3.5rem;
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.landing .left-landing-box .buttons .contact-btn {
    padding: 1rem 3rem;
    border-radius: 3px;
    color: #040402;
    text-decoration: none;
    background: #e1d700;
    font-size: 2.5rem;
}

.landing .left-landing-box .buttons .contact-link {
    color: #767676;
    text-decoration: none;
    font-size: 2rem;
}

.landing .left-landing-box h1 {
    font-size: 14rem;
    line-height: 14rem;
}

.landing .right-landing-box {
    width: 40%;
}

.landing .right-landing-box img {
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.about {
    font-size: 1.8rem;
    color: whitesmoke;
    line-height: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 3rem;
}

.about .about-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 60%;
}

.about .about-text h2 {
    margin-bottom: 1rem;
    font-size: 4rem;
    line-height: 3.5rem;
}

.about .about-text h2:after {
    content: "";
    width: 100%;
    border-bottom: 3px solid #FFF748;
    display: block;
}

.about .about-text p {
    margin: 2rem 0;
}

.portfolio {
    text-align: center;
    font-size: 1.8rem;
    color: whitesmoke;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.portfolio .portfolio-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.portfolio .portfolio-text h2 {
    margin-bottom: 1rem;
    font-size: 4rem;
    line-height: 3.5rem;
}

.portfolio .portfolio-text h2:after {
    content: "";
    width: 100%;
    border-bottom: 3px solid #FFF748;
    display: block;
}

.portfolio .portfolio-text .check-projects {
    padding: 1rem 2rem;
    background: #FFF748;
    color: #040402;
    text-decoration: none;
    border-radius: 2px;
    margin-top: 1rem;
}

.portfolio .portfolio-work .portfolio-box {
    color: #040402;
    margin: 0 1rem;
    background: #FFF748;
    min-height: 40rem;
}

.portfolio .portfolio-work .portfolio-box .text {
    background: #FFF748;
    padding: 1rem;
}

.portfolio .portfolio-work .portfolio-box .text a {
    margin-top: 1rem;
}

.portfolio .portfolio-work .portfolio-box img {
    border-radius: 0 0 5% 5%;
}

#code_line {
    -webkit-animation: illuation 2.5s ease infinite alternate;
    animation: illuation 2.5s ease infinite alternate;
    stroke-dasharray: 324.774;
    stroke-dashoffset: 324.774;
    stroke: black;
    stroke-width: .5;
}

#back {
    -webkit-animation: backmovement 2s ease-in-out infinite alternate;
    animation: backmovement 2s ease-in-out infinite alternate;
}

#arm {
    -webkit-animation: armmovement 2.5s ease infinite alternate;
    animation: armmovement 2.5s ease infinite alternate;
    -webkit-transform: translateX(150rem);
    transform: translateX(150rem);
}

@-webkit-keyframes illuation {
    0% {
        fill: white;
    }
    50% {
        fill: white;
        stroke-dashoffset: 0;
    }
    100% {
        fill: black;
        stroke-dashoffset: 0;
    }
}

@keyframes illuation {
    0% {
        fill: white;
    }
    50% {
        fill: white;
        stroke-dashoffset: 0;
    }
    100% {
        fill: black;
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes backmovement {
    0% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
    100% {
        -webkit-transform: translateY(2%);
        transform: translateY(2%);
    }
}

@keyframes backmovement {
    0% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
    100% {
        -webkit-transform: translateY(2%);
        transform: translateY(2%);
    }
}

@-webkit-keyframes armmovement {
    0% {
        -webkit-transform: translateX(7px);
        transform: translateX(7px);
    }
    25% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    50% {
        -webkit-transform: translateX(7px);
        transform: translateX(7px);
    }
    75% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    85% {
        -webkit-transform: translateX(7px);
        transform: translateX(7px);
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@keyframes armmovement {
    0% {
        -webkit-transform: translateX(7px);
        transform: translateX(7px);
    }
    25% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    50% {
        -webkit-transform: translateX(7px);
        transform: translateX(7px);
    }
    75% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    85% {
        -webkit-transform: translateX(7px);
        transform: translateX(7px);
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}
